/* Navbar style */
/* nav .brand-logo{
    padding-left: 10px;
    
} */

/* Slider style
.slider .indicators{
    bottom: 60px;
    z-index:2;
  
} */

.container, .col m6 {
  height: 61.5vh;
}

#leftSide, #rightSide {
  margin-top: 25vh;
}

h4 {
  margin-left: 10vh;
  color: white;
}

